

<mat-card>
    <h2>
        Online Loan Application Form
    </h2>

    <form #loanform="ngForm" (ngSubmit)="OnSubmit()">

        <div class="form-group">
            <label for="fname">Full Name</label>
            <input type="text" name="fname" ngModel required class="form-control" #fname="ngModel">

            <strong class="text-danger" *ngIf="fname.touched && fname.hasError('required')">
                Full name is required 
            </strong>
        </div>

        <div class="form-group">
            <label for="email">Email</label>
            <input
              pattern="^[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,}$"
             type="email" ngModel name="email" required class="form-control" #email="ngModel" >

             <strong class="text-danger" *ngIf="email.touched && email.hasError('required')">
                Email is required 
             </strong>

             <strong class="text-danger" *ngIf="email.dirty && email.hasError('pattern')">
                Invalid email 
             </strong>
        </div>

        <div class="form-group">
            <label for="mobile">Mobile Number</label>
            <input type="number" class="form-control" ngModel required name="mobile" #phone="ngModel"   pattern="^[6-9][0-9]{9}$">

            <strong class="text-danger" *ngIf="phone.touched && phone.hasError('required')">
                Mobile number is required 
            </strong>

            <strong class="text-danger" *ngIf="phone.dirty && phone.hasError('pattern')">
                Invalid mobile number 
            </strong>
        </div>

        <div class="fom-group">
            <label for="pan">Pan Number</label>
            <input type="text" class="form-control" ngModel required name="pan" #pancard="ngModel"  pattern="^[A-Z]{5}[0-9]{4}[A-Z]{1}$">

            <strong class="text-danger" *ngIf="pancard.touched && pancard.hasError('required')"> 
                pan number is required 
            </strong>

            <strong class="text-danger" *ngIf="pancard.dirty && pancard.hasError('pattern')">
                invalid pan card number 
            </strong>
        </div>

        <div class="form-group">
            <label for="addhar">Addhar Card Number</label>
            <input type="number" class="form-control" ngModel required name="addhar" #addhar="ngModel"   pattern="^[0-9]{12}$">

            <strong class="text-danger" *ngIf="addhar.touched && addhar.hasError('required')">
                Addhar card number is requird 
            </strong>

            <strong class="text-danger" *ngIf="addhar.dirty && addhar.hasError('pattern')">
                Invalid Addhar card number 
            </strong>
        </div>

        <div class="form-group">
            <label for="income">Annoual Income</label>
            <input type="number" class="form-control" ngModel required #icome="ngModel" name="income">

            <strong class="text-danger" *ngIf="icome.touched && icome.hasError('required')">
                Annual income is required 
            </strong>
        </div>

        <div class="form-group">
            <label for="loan">Loan Amount</label>
            <input type="number" class="form-control" ngModel required name="loan" #loan="ngModel" min="50000">

            <strong class="text-danger" *ngIf="loan.touched && loan.hasError('required')">
                Loan amount is required 
            </strong>

            <strong class="text-danger" *ngIf="loan.dirty && loan.hasError('min')">
                Loan amount greater than 50000
            </strong>
        </div>

        <button class="w-100" mat-raised-button color="primary" [disabled]="loanform.invalid">  Apply Loan</button>
    </form>
</mat-card>