

<mat-card class="mb-5">
    <h2>
       📃  Job Application Form
    </h2>

    <form #jobform="ngForm" (ngSubmit)="Onsubmit()">

        <div class="form-group">
            <label for="fname">✔️ Full Name</label>
            <input type="text" name="fname" ngModel required class="form-control" #fname="ngModel" >
            <strong class="text-danger" *ngIf="fname.touched && fname.hasError('required')">
                Full name is required 
            </strong>
        </div>

        <div class="form-group">
            <label for="email">✔️ Email</label>
            <input
              pattern="^[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,}$"
             type="email" class="form-control" name="email" ngModel required #email="ngModel" >
            <strong class="text-danger" *ngIf="email.touched && email.hasError('required')">
                Email is required 
            </strong>

            <strong class="text-danger" *ngIf="email.dirty && email.hasError('pattern')">
                Invalid email 
            </strong>
        </div>

        <div class="form-group">
            <label for="phone">✔️ Mobile Number</label>
            <input type="number" class="form-control" ngModel required #phone="ngModel" name="phone"   pattern="^[6-9][0-9]{9}$">

            <strong class="text-danger" *ngIf="email.touched && email.hasError('required')">
                Mobile number is required 
            </strong>

            <strong class="text-danger" *ngIf="phone.dirty && phone.hasError('pattern')">
                Invalid mobile number 
            </strong>
        </div>

        <div class="form-group">
            <label for="experience">✔️ Experience</label>
            <select name="experience" id="ex" ngModel required class="form-control" #ex="ngModel">
                <option value="0">0-1</option>
                <option value="1">1-2</option>
                <option value="2">2-3</option>
                <option value="3">3-4</option>
                <option value="4">4-5</option>
            </select>

            <strong class="text-danger" *ngIf="ex.touched && ex.hasError('required')">
                Experience is required 
            </strong>

            
        </div>

        <div class="form-group">
            <label for="skill">✔️ Skills</label>
            <mat-checkbox class="ml-3" ngModel required name="skill" #skill="ngModel">HTML</mat-checkbox>
            <mat-checkbox class="ml-3" ngModel required name="skill" #skill="ngModel">CSS</mat-checkbox>
            <mat-checkbox class="ml-3" ngModel required name="skill" #skill="ngModel">JavaScript</mat-checkbox>

            <div class="text-danger" *ngIf="skill.touched && skill.hasError('required')">
                Skill is required 
            </div>
        </div>

        <div class="form-group">
            <label for="url">🔗 Resume Url</label>
            <input   pattern="https?://.+" type="url" class="form-control" ngModel required name="url" #resume="ngModel">

            <strong class="text-danger" *ngIf="resume.touched && resume.hasError('required')">
                Resume url is required 
            </strong>

            <strong class="text-danger" *ngIf="resume.dirty && resume.hasError('pattern')">
                Invalid resume url 
            </strong>
        </div>

        <div class="form-group">
            <label for="salary">✔️ Expected Salary</label>
            <input type="number" class="form-control" name="salary" ngModel required  #salary="ngModel" min="10000">
            <strong class="text-danger" *ngIf="salary.touched && salary.hasError('required')">
                Expected salary is required 
            </strong>

            <strong class="text-danger" *ngIf="salary.dirty && salary.hasError('min')">
                Salary greater than 10000
            </strong>
        </div>

        <button mat-raised-button color="primary" class="w-100" [disabled]="jobform.invalid">Submit</button>
    </form>
</mat-card>